n8n-contact-form-workflow.json
{
  "name": "RamXDigital Contact Form",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contact-form",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "12345678-90ab-cdef-1234-567890abcdef"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"hp\"]}}",
              "operation": "equal",
              "value2": ""
            }
          ]
        }
      },
      "id": "b2c3d4e5-f6g7-8901-bcde-f23456789012",
      "name": "Anti-Spam Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "={{$json[\"name\"]}}"
            },
            {
              "name": "email",
              "value": "={{$json[\"email\"]}}"
            },
            {
              "name": "business",
              "value": "={{$json[\"business\"] || \"No especificado\"}}"
            },
            {
              "name": "budget",
              "value": "={{$json[\"budget\"] || \"No especificado\"}}"
            },
            {
              "name": "message",
              "value": "={{$json[\"message\"]}}"
            },
            {
              "name": "timestamp",
              "value": "={{$json[\"timestamp\"]}}"
            },
            {
              "name": "source",
              "value": "={{$json[\"source\"] || \"website\"}}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-g7h8-9012-cdef-345678901234",
      "name": "Format Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@ramxdigital.com",
        "toEmail": "hola@ramxdigital.com",
        "subject": "🔔 Nuevo contacto: {{$json[\"name\"]}}",
        "text": "Nuevo mensaje de contacto recibido:\n\n📝 DETALLES DEL CLIENTE:\n• Nombre: {{$json[\"name\"]}}\n• Email: {{$json[\"email\"]}}\n• Negocio: {{$json[\"business\"]}}\n• Presupuesto: {{$json[\"budget\"]}}\n\n💬 MENSAJE:\n{{$json[\"message\"]}}\n\n⏰ INFORMACIÓN TÉCNICA:\n• Fecha: {{$json[\"timestamp\"]}}\n• Fuente: {{$json[\"source\"]}}\n\n---\nRamXDigital - Sistema de Contacto",
        "options": {}
      },
      "id": "d4e5f6g7-h8i9-0123-defg-456789012345",
      "name": "Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        900,
        120
      ]
    },
    {
      "parameters": {
        "fromEmail": "hola@ramxdigital.com",
        "toEmail": "={{$json[\"email\"]}}",
        "subject": "✅ Hemos recibido tu mensaje - RamXDigital",
        "text": "Hola {{$json[\"name\"]}},\n\nGracias por contactar con RamXDigital. 🚀\n\nHemos recibido tu consulta:\n\"{{$json[\"message\"]}}\"\n\n📞 PRÓXIMOS PASOS:\n1. Revisaremos tu solicitud detalladamente\n2. Te responderemos en las próximas 4 horas (horario comercial UK)\n3. Programaremos una llamada si es necesario\n\n⚡ ¿Tienes prisa?\nPuedes reservar una llamada de 30 minutos: [CALENDLY_URL]\n\nSaludos cordiales,\nEl equipo de RamXDigital\n\n---\nEste es un mensaje automático. Para consultas urgentes, responde a este email.",
        "options": {}
      },
      "id": "e5f6g7h8-i9j0-1234-efgh-567890123456",
      "name": "Auto-Responder",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        900,
        280
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "f6g7h8i9-j0k1-2345-fghi-678901234567",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Tu mensaje ha sido enviado correctamente. Te responderemos pronto.\",\n  \"timestamp\": \"{{new Date().toISOString()}}\"\n}",
        "options": {}
      },
      "id": "g7h8i9j0-k1l2-3456-ghij-789012345678",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Solicitud rechazada por medidas de seguridad.\",\n  \"error\": \"SPAM_DETECTED\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "h8i9j0k1-l2m3-4567-hijk-890123456789",
      "name": "Spam Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        400
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Anti-Spam Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anti-Spam Filter": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Spam Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "Email Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Auto-Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Notification": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Responder": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-15T10:00:00.000Z",
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "hash": "abc123def456",
  "id": "1"
}